{% extends 'almox/base.html' %}

{% block title %} Almoxarifado {% endblock %}

{% block content %}
    <div>
        <a href="addcomp/"><button>adicionar</button></a>
        <br />
        <div>
            <form method="GET" id="search-form">
                <input
                type="text"
                id="search"
                name="search"
                placeholder="Nome do componente..."
                value="{{ request.GET.search }}"
                >
                <input type="submit" value="buscar/filtrar" id="search-btn">
            </form>
        </div>
        <h4>filtrar por</h4>
        <form method="GET" id="filter-form">
            <label>modelo</label>
            <input type="text">
            <br />
            <label>estado</label>
            <input type="text">
            <br />
            <label>status</label>
            <input type="text">
            <br />
            <label>localizacao</label>
            <input type="text">
            <br />
            <input type="submit" value="filtrar" id="filter-btn">
        </form>
    </div>
    {% if case == 0 %}
        <ul>
        {% for comp in comps %}
            <li>
                <span><a href="/comp/{{comp.id}}"><h3>{{ comp.comp_name }}</h3></a></span>
                <span>modelo: {{ comp.comp_mod }} | serial: {{ comp.comp_nserial }} | ean: {{ comp.comp_ean }} | estado: {{ comp.comp_estado }} | status: {{ comp.comp_status }} | localizacao: {{ comp.comp_loc }}</span>
                <a href="/edit/{{comp.id}}"><span><button>atualizar</button></span></a>
            </li>
        {% endfor %}
        </ul>
        <div>
            <span>
                {% if comps.has_previous %}
                    <a href="?page={{ comps.previous_page_number }}"><button>←</button></a>
                {% endif %}

                <span>{{ comps.number }} de {{ comps.paginator.num_pages }}</span>

                {% if comps.has_next %}
                    <a href="?page={{ comps.next_page_number }}"><button>→</button></a>
                {% endif %}
            </span>
        </div>
    {% elif case == 1 %}
            <h2>NADA</h2>
    {% endif %}
{% endblock %}