{% extends 'almox/base.html' %}

{% block title %} Almoxarifado {% endblock %}

{% block content %}
    <div>
        <a href="addcomp/" class="searching"><button>adicionar</button></a>
        <br />
        <div>
            <form method="GET" id="search-form" class="searching">
                <input
                type="text"
                id="search"
                name="search"
                placeholder="Nome do componente..."
                value="{{ request.GET.search }}"
                class="searching"
                >
                <input type="submit" value="buscar/filtrar" id="search-btn" class="searching">
            </form>
        </div>
        <h4>filtrar por</h4>
        <form method="GET" id="filter-form" class="searching">
            <input type="text" name="search-loc" class="searching">
            <label class="searching">localizacao</label>
            <br />
            <input type="text" name="search-est" class="searching">
            <label class="searching">estado</label>
            <br />
            <input type="text" name="search-stat" class="searching">
            <label class="searching">status</label>
            <br />
            <input type="submit" value="filtrar" id="filter-btn">
        </form>
    </div>
    <ul id="list-comps">
    {% for comp in comps %}
        <li>
            <span><a href="/comp/{{comp.id}}"><h3>{{ comp.comp_name }}</h3></a></span>
            <span>modelo: {{ comp.comp_mod }} | serial: {{ comp.comp_nserial }} | ean: {{ comp.comp_ean }} | estado: {{ comp.comp_estado }} | status: {{ comp.comp_status }} | localizacao: {{ comp.comp_loc }}</span>
            <a href="/edit/{{comp.id}}"><span><button>atualizar</button></span></a>
        </li>
    {% endfor %}
    </ul>
    <div id="num-pages">
        <span>
            {% if comps.has_previous %}
                <a href="?page={{ comps.previous_page_number }}"><button>←</button></a>
            {% endif %}

            <span>{{ comps.number }} de {{ comps.paginator.num_pages }}</span>

            {% if comps.has_next %}
                <a href="?page={{ comps.next_page_number }}"><button>→</button></a>
            {% endif %}
        </span>
    </div>
    <div>
        <a href="addloc/"><button>Adicionar localidade</button></a>
    </div>
{% endblock %}